

<!--<button ui-sref="signin">Click Here to Login</button>
<button ui-sref="signup">Click Here to Sign up </button>-->



    <!-- Use a container to wrap the slider, the purpose is to enable slider to always fit width of the wrapper while window resize -->
    
<div class="container marketing">
    <div class="container">

        
         

      <div class="slider">
        <hr class="featurette-divider">
            <figure>
            <img src="../img/home/kids6.jpg" alt="" height="450px">
            <img src="../img/home/kids1.jpg" alt="" height="450px">
            <img src="../img/home/kids7.jpg" alt="" height="450px">
            <img src="../img/home/kids3.jpg" alt="" height="450px">
            <img src="../img/home/kids5.jpg" alt="" height="450px">
            </figure>
</div>

<hr class="featurette-divider">

    <div id="about"  class="container spacer about">
  <h2 class="text-center wowload fadeInUp">An Online Quiz Portal For Everyone</h2>  
  <div class="row">
  <div class="col-sm-6 wowload fadeInLeft">
    <h4><i class="fa fa-paint-brush"></i> Value & Flexibility</h4>
    <p>We are an online platform that believe in delivering the best quality services to our clients.Our services are rendered just to suit whatever needs our client may have. We take into cosideration the differennt needs of our esteemed clients and tailor our services just for that purpose.</p>
    
  </div>
  <div class="col-sm-6 wowload fadeInRight">
  <h4><i class="fa fa-code"></i> Accountability&Assessibility</h4>
  <p>We are a reputable company who take pride in the quality of services we provide to our end clients thereby making value and accountabilility our watchword. Our services are assessible to all and sundry regardless of location, region, ethnicity, and religion. As an online platform our services can be rendered to any client regardless of where they may be.</p>    
  </div>
  </div>
        <!-- <div class="row featurette"> -->
           <!--  <div class="col-md-7">
                <h2 class="featurette-heading">Mean Stack App</h2>
                <p style="font-family: 'Raleway', sans-serif; margin: 109px 0 10px;">This App is Design using <b>MEAN STACK</b> . The Technology which Developer is used are <b>NODEJS</b> <b>MongoDB Body-Parser Mongoose Boot-Strap AngularJs Angular Material Design </b>.
                <a href="https://github.com/Ghayyas/MeanQuizApp" target="_blank">Check out Source Code on GitHub</a>.</p>
            </div>
            <div class="col-md-5">
                <img src="../img/home/meanStack1.jpg"" class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">

            </div>
        </div> -->

        <!--<hr class="featurette-divider">


        <!-- /END THE FEATURETTES -->
        <!-- FOOTER -->
        <!--<footer>

            <p>&copy; TeamSix {{myDate | date: 'yyyy'}}. &middot; </p>
        </footer>

    </div>-->
   
   
   
